<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381473489868-9vi8e01pbqdjbqjtght90iej78p12gsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381473489868-9vi8e01pbqdjbqjtght90iej78p12gsq</string>
	<key>API_KEY</key>
	<string>AIzaSyBmPZZ7iydWEJSG01Wi6n2gc0XrWNIbR5s</string>
	<key>GCM_SENDER_ID</key>
	<string>381473489868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>my-chats-apps-7c30c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chats-apps-7c30c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381473489868:ios:7bcf6204af8fa710685369</string>
</dict>
</plist>